.main
    position: fixed
    width: 275px
    transition: 0.3ms easy

    &-box
        position: relative
        padding: 40px 20px
        height: 100vh
        box-shadow: 0px 0px 8px 6px rgb(0 0 0 / 25%)
        // box-shadow: 2px 0px 18px -4px rgba(34, 60, 80, 0.18)
    
    &-aside-top
        position: relative
        display: flex
        align-items: flex-end
        margin-bottom: 40px
        margin-left: 20px

        span
            position: absolute
            top: -9px
            left: 44px
            font-size: 35px
            font-weight: bold
            color: #db0000

        img
            width: 40px

    &-bottom
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 95%

.main-aside 
    li
        list-style: none
        padding: 12px 18px
        font-size: 18px
        margin-bottom: 6px

    li:hover
        color: #000

    a
        color: #6D7885
        font-weight: 600
        text-decoration: none

    .active
        color: #000
        background-color: #e4e7f5

    i
        margin-right: 8px


.user
    display: flex
    align-items: center
    padding: 12px 20px

    &-title
        margin-left: 12px
        font-size: 18px
        font-weight: 500

    &-img-box
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 40px
        border-radius: 50%
        background-color: #996b51

        span
            color: #fff
            font-weight: 500

.main-aside-bottom
    background-color: #f472b6
    border-radius: 8px

.log-out
    color: #000


.line
    padding: 0 20px
    margin-bottom: 6px
    
    &-box
        height: 1px
        width: 100%
        background-color: #fff


.hide-box
    display: flex
    justify-content: center
    align-items: center
    width: 30px
    height: 30px
    right: -15px
    top: 50%
    border-radius: 50%
    z-index: 1
    transform: translateY(-50%)
    position: absolute
    background-color: #ff5bb1
    cursor: pointer
    animation: moveBall 0.4s infinite alternate

    i
        color: #fff

    @keyframes moveBall
        from
            right: -16px

        to
            right: -14px

.main.hide-aside
    width: 80px

.main-box.hide
    padding: 40px 12px

.main-aside-top.hide
    margin-left: 9px

.user.hide
    padding: 8px 8px 14px 8px

.line.hide
    padding: 0 12px
    margin-bottom: 0

.main-aside-bottom.hide
    border-radius: 26px

.main-aside.hide li
    border-radius: 50%